@{
  Layout = "_Layout";
}

@model Pierres.Models.Patron

<h2>Add a treat</h2>

<h4>Add a treat to this patron for checkout: @Html.DisplayFor(model => model.PatronName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Buy Treat!" class="btn btn-dark"/>
}

<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>