@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This flavor does not belong to any treat</p>
}
else
{
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>Treat name: @join.Treat.TreatName</li>
  }
  </ul>
}

<p class="btn btn-dark">@Html.ActionLink("Back to list", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>